<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Search engine Prototype</title>
</head>

<body>
    <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'
        import axios from 'https://cdn.skypack.dev/axios';

        function Search(props) {
            return {
                query: props.initialQuery,
                responseArray: [],
                async execute() {
                    const { data } = await axios.get(
                        "http://localhost:3333/milvus", { params: { searchQuery: this.query } }
                    );
                    console.log(data)
                    this.responseArray = data
                }
            }
        }

        createApp({
            Search
        }).mount()
    </script>

    <div v-scope="Search({ initialQuery: '' })">
        <input type="text" name="" id="" v-model="query">
        <button @click="execute">increment</button>
        <div v-for="response in responseArray" :key="response.id">
            <p>{{ response.word }}</p>
        </div>
    </div>

</body>

</html>